.hr-text {
    margin-top: 40px;
}
hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
}

hr.hr-text::before {
    content:attr(data-content);
    display: inline-block;
    background:#fff;
    font-weight: bold;
    font-size: 0.85rem;
    color:#999;
    border-radius:  30rem;
    padding:0.2rem 2rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* Style to change separator  */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
 .card-edit {
    width: 320px;
     height: 285px; 
     border: 2px dashed  #c7c7c7;
 }

@media (max-width: 1200px) {
    .card-edit {
         width: 260px;
         height: 286px; 
         border: 2px dashed  #c7c7c7;
     }
 }

 @media (max-width: 992px) {
    .card-edit {
         width: 200px;
         height: 300px; 
         border: 2px dashed  #c7c7c7;
     }
 }
 @media (max-width: 767px) {
    .card-edit {
        width: 320px;
         height: 266px; 
         border: 2px dashed  #c7c7c7;
     }
 }


